html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body{
  transition: 0.3s;
}

#intro-example {
  height: 400px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }

    .desktop-layout-text{
      margin-top: 9rem;
    }
  }

